@import "tailwindcss";

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --color-dark-bg: #101014;
  --color-dark-secondary-bg:#28282C;
  --color-white-bg:#fff;
  --color-white-gray-secondaryBg: #E9ECF2;
  --color-white-gray-bg: #FAFAFA;
  --color-dark-text: #101014;
  --color-dark-gray-text: #3D3D47;
  --color-dark-gray-secondary-text: #3D3D47;
  --color-white-gray-text:#D0D1DB;
  
  /** Breakpoint **/
  --container-xs: 375px;
  --container-sm: 460px;
  --container-md: 1024px;
  --container-lg: 1280px;
  --container-xl: 1440px;
}

html {
  --scroll-behaviour:smooth;
  font-size:16px;
}

/** Global Style **/

.glass-button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 6px 12px;
  border-radius: 9999px;
  background: rgba(255, 255, 255, 0.05); /* Transparent white */
  /* border: 1px solid rgba(255, 255, 255, 0.2); */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: rgba(255, 255, 255, 0.85);
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.glass-button:hover {
  background: rgba(255, 255, 255, 0.1);
  transform: translateY(-2px);
}

.status-dot {
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
}

.glass-card {
  width:240px;
  padding:1rem;
     backdrop-filter: blur(25px) saturate(73%);
    -webkit-backdrop-filter: blur(25px) saturate(73%);
    background-color: rgba(16, 16, 20, 0.34);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    color:#fff;
}

.navigation-link-item {
  position:relative;
  transition: all 180ms ease-in-out;
}

.navigation-link-item::after {
  width:0;
  content:"";
  height:1.6px;
  position:absolute;
  bottom:-5px;
  left:0;
  background-color: #fff;
  transition: all 180ms ease-in-out;
}

.navigation-link-item:hover::after {
  width:100%;
}

.navigation-bar {
  transition: all 0.4s ease-in-out;
}

.navigation-bar.active{
     backdrop-filter: blur(25px) saturate(73%);
    -webkit-backdrop-filter: blur(25px) saturate(73%);
    background-color: rgba(16, 16, 20, 0.76);
    border-radius: 0px;
}